    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Action!</title>

    <!-- Favicon -->
    <link href="~/img/logo.png" rel="icon" type="image/png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="~/vendor/nucleo/css/nucleo.css" rel="stylesheet" asp-append-version="true">
    <link href="~/vendor/@@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
    <!-- Argon CSS -->
    <link type="text/css" href="~/css/argon.css?v=1.2.0" rel="stylesheet" asp-append-version="true">
    <!-- App CSS -->
    <link type="text/css" href="~/css/site.css" rel="stylesheet" asp-append-version="true">

    <!-- Social tags -->
    <meta name="keywords" content="creative tim, udevoffice, html dashboard, html css dashboard, web dashboard, bootstrap 4 dashboard, node dashboard, node.js dashboard, bootstrap 4, node.js, node, css3 dashboard, bootstrap 4 admin, argon node dashboard, argon node.js dashboard, bootstrap 4 dashboard, frontend, responsive bootstrap 4 dashboard, argon node design, argon node.js design, argon node dashboard, argon node.js dashboard, bootstrap">
    <meta name="description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Asp.net framework, the newest go-to technology for top companies.It features a huge number of components that can help you create amazing websites and brings with itself innumerable advantages: lightweight, fast, scalable and modern way to execute your next top app.">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Argon Dashboard Asp.net by Creative Tim">
    <meta itemprop="description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Asp.net framework, the newest go-to technology for top companies.It features a huge number of components that can help you create amazing websites and brings with itself innumerable advantages: lightweight, fast, scalable and modern way to execute your next top app.">

    <meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/162/opt_ad_asp_thumbnail.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@@creativetim">
    <meta name="twitter:title" content="Argon Dashboard Asp.net by Creative Tim">

    <meta name="twitter:description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Asp.net framework, the newest go-to technology for top companies.It features a huge number of components that can help you create amazing websites and brings with itself innumerable advantages: lightweight, fast, scalable and modern way to execute your next top app.">
    <meta name="twitter:creator" content="@@creativetim">
    <meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/162/opt_ad_asp_thumbnail.jpg">


    <!-- CSS files -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required: false)
</head>
<body>
    @{bool isUserConnected = User.Identity.IsAuthenticated; }
    @{ string imgProfile = @Context.User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Uri)?.Value;}
    @{ string username = @Context.User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Name)?.Value;}
    <!---------------- SIDEBAR ---------------->

    @if (isUserConnected)
    {
        <nav class="navbar navbar-vertical fixed-right navbar-expand-md navbar-dark bg-dark sidebar" id="sidenav-main">
            <div class="container-fluid">

                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Brand -->
                <div class="brand-holder">
                    <a class="navbar-brand pt-0" href="/">
                        @*TODO: ADD SVG LOGO*@
                        MovieApp
                    </a>
                </div>

                <!-- User -->
                <ul class="nav align-items-center d-md-none">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="media align-items-center">
                                @if (isUserConnected)
                                {
                                    <span class="avatar avatar-sm rounded-circle">
                                        @if (imgProfile != null)
                                        {
                                            <img alt="Profile img" src=@("/img/accounts/" + imgProfile)>
                                        }
                                        else
                                        {
                                            <img alt="Profile img" src=@("/img/accounts/default.png")>
                                        }
                                    </span>
                                }
                            </div>
                        </a>

                        <partial name="UserMenu" />
                    </li>
                </ul>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Collapse header -->
                    <div class="navbar-collapse-header d-md-none">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="/">
                                    MovieApp
                                </a>
                            </div>
                            <div class="col-6 collapse-close" style="text-align: left;">
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Navigation -->
                    <partial name="Navbar" />


                </div>
            </div>
        </nav>
    }

    <!---------------- MAIN ---------------->
    <div class="main-content">
        <!-- TopNav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-danger border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Navbar links -->
                    <!-- Current user (right part of the website) -->
                    <ul class="navbar-nav align-items-center mr-auto ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center">
                                    @if (isUserConnected)
                                    {
                                        <span class="avatar avatar-sm rounded-circle">

                                            @if (imgProfile != null)
                                            {
                                                <img alt="Profile img" src=@("/img/accounts/" + imgProfile)>
                                            }
                                            else
                                            {
                                                <img alt="Profile img" src=@("/img/accounts/default.png")>
                                            }
                                        </span>
                                    }
                                    <div class="media-body  mr-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">
                                            @if (isUserConnected)
                                            {
                                                @username
                                            }
                                            else
                                            { <span>Guest</span>}
                                        </span>
                                    </div>
                                </div>
                            </a>

                            <partial name="UserMenu" />

                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @RenderSection("VideoSection", required: false)

        <!-- Page content -->
        <div class="container-fluid rendered-content">
            <!-- Page content -->
            @RenderBody()

        </div>


        <partial name="Footer" />


    </div>

    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="~/vendor/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/vendor/js-cookie/js.cookie.js" asp-append-version="true"></script>
    <script src="~/vendor/jquery.scrollbar/jquery.scrollbar.min.js" asp-append-version="true"></script>
    <script src="~/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js" asp-append-version="true"></script>
    <!-- Docs JS -->
    <script src="~/vendor/anchor-js/anchor.min.js" asp-append-version="true"></script>
    <script src="~/vendor/clipboard/dist/clipboard.min.js" asp-append-version="true"></script>
    <script src="~/vendor/holderjs/holder.min.js" asp-append-version="true"></script>
    <script src="~/vendor/prismjs/prism.js" asp-append-version="true"></script>
    <!-- Optional JS -->
    <script src="~/vendor/chart.js/dist/Chart.min.js" asp-append-version="true"></script>
    <script src="~/vendor/chart.js/dist/Chart.extension.js" asp-append-version="true"></script>
    <script src="~/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    <!-- Argon JS -->
    <script src="~/js/argon.js" asp-append-version="true"></script>

    <!--MovieApp JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>