@model MovieApp.Models.Official

@{
    ViewData["Title"] = "פרטי תפקיד";
}

@{ string userType = @Context.User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value;}

<div class="row" style="margin-bottom: 50px">
    <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow ">
            <div class="card-header">
                <h3 class="mb-0"> @Html.DisplayFor(model => model.FirstName)</h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Role)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Role)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Birthdate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Birthdate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.OriginCountry)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.OriginCountry)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>
                    <dd class="col-sm-10">
                        <img src="@("/img/officials/"+ Model.ImageUrl)" width="200" height="200">
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <a asp-action="Index" class="btn btn-primary"><i class="fa fa-arrow-right"></i> בחזרה לרשימה</a>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i> ערוך</a>

                @if (userType == Account.UserType.Admin.ToString())
                {
                    <form asp-action="Delete" style="display: inline-block;">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="מחק" class="btn btn-primary" />
                    </form>
                }
            </div>
        </div>
    </div>
</div>
