@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<MovieApp.Models.Official>

@{ ViewData["Title"] = "מאגר בעלי התפקידים"; }
<!-- CSS -->
<link type="text/css" href="~/css/officialsIndex.css?v=1.2.0" rel="stylesheet" asp-append-version="true">

<div class="jumbotron">
     <h1 class="display-4" dir="rtl"> 
    מאגר בעלי התפקידים
    <a class="btn btn-primary float-left" asp-action="Create">צור חדש</a>

    </h1>

    <hr class="my-4">

    <div class="container">
        <div class="row row-cols-md-4">
            @foreach (var item in Model) 
            {
                <div class="col mb-4">
                 <div id="card-official" class="card h-100">
                     <img id="img-official" class="embed-responsive-item rounded-top" src="@("/img/officials/"+ item.ImageUrl)" alt="official">
                     <div class="card-img-overlay hoverOverlay bg-dark text-white rounded">
                        <h2 class="card-title">
                            <a asp-action="Details" asp-route-id="@item.Id" class="card-link">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </a>
                        </h2>
                        <h3 class="card-subtitle text-muted">(@Html.DisplayFor(modelItem => item.Age))</h3>
                             
                        <div class="officialActions mx-auto">
                             <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-light btn-sm fa fa-edit"></a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

    <div class="pagination-container">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>