@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<MovieApp.Models.Official>

@{ ViewData["Title"] = "מאגר בעלי התפקידים"; }
<!-- CSS -->
<link type="text/css" href="~/css/officialsIndex.css?v=1.2.0" rel="stylesheet" asp-append-version="true">

<div class="jumbotron">
    <h1 class="display-4" dir="rtl">
        מאגר בעלי התפקידים
        <a class="btn btn-outline-light float-left" asp-action="Create"><i class="fas fa-plus"></i></a>
        <a class="btn btn-outline-light float-left" data-toggle="modal" data-target="#filters">
            <i class="fas fa-filter"></i>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="filters" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-sm" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="Officials" asp-action="Index" method="get">
                            <div class="form-group row">
                                <p class="col-sm-3">שם:</p>
                                <div class="col">
                                    <input type="text" name="nameFilter" class="form-control form-control-sm" value="@(ViewBag.CurrentNameFilter as string)" />
                                </div>
                            </div>
                            
                            <input type="submit" value="חפש" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </h1>

    <hr class="my-4">

    <div class="container">
        <div class="row row-cols-md-4 row-cols-sm-1 row-cols-xs-1">
            @foreach (var item in Model) 
            {
                <div class="col mb-4">
                 <div id="card-official" class="card h-100">
                     <img class="embed-responsive .embed-responsive-16by9 rounded-top" src="@("/img/officials/"+ item.ImageUrl)" alt="official">
                     <div class="card-img-overlay hoverOverlay bg-dark text-white rounded">
                        <h2 class="card-title">
                            <a asp-action="Details" asp-route-id="@item.Id" class="card-link">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </a>
                        </h2>
                        <h3 class="card-subtitle text-muted">(@Html.DisplayFor(modelItem => item.Age))</h3>
                             
                        <div class="officialActions mx-auto">
                             <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-light btn-sm fa fa-edit"></a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

    <div class="pagination-container">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentNameFilter = ViewBag.CurrentNameFilter}))
    </div>
</div>