@model MovieApp.Models.MovieReview

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovieReview</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsViolent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsViolent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBlackAndWhite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBlackAndWhite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendedAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendedAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHavingSequel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHavingSequel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
