@model MovieApp.Models.Movie

@{
    ViewData["Title"] = "Details";
}


<div class="row" style="margin-bottom: 50px">
    <div class="col-xl-8 order-xl-1">
        <div>

            <div class="card bg-secondary shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0"> @Html.DisplayFor(model => model.Name)</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Country)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Language)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Language)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Year)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Year)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Genre)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Genre)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Duration)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Duration)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TrailerUrl)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TrailerUrl)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Rating)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Rating)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>
                        <dd class="col-sm-10">
                            <img src="@("/img/movies/"+ Model.ImageUrl)" width="200" height="200">
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.MovieIdInTMDB)
                        </dt>
                        <dd class="col-sm-10" id="movieTMDBId">
                            @Html.DisplayFor(model => model.MovieIdInTMDB)
                        </dd>
                    </dl>
                </div>
            </div>

            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger">Edit</a>
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>

        </div>
    </div>
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card shadow" >
            <div class="card-header border-0">
                <h3 class="mb-0">ביקורות</h3>
            </div>
            <div id="card-result" class="card-body" style="overflow-y: scroll; height: 650px;">

               
            </div>
            <div class="card-footer py-4">
                <span id="resultMessage" class="text-danger"></span>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    
    <script src="~/js/searchMovieReviews.js" asp-append-version="true"></script>
}
