@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<MovieApp.Models.Movie>

@{ ViewData["Title"] = "מאגר הסרטים"; }

@{ var account = ViewData["account"] as Account;}

<!-- CSS -->
<link type="text/css" href="~/css/moviesIndex.css?v=1.2.0" rel="stylesheet" asp-append-version="true">

<h1>מאגר הסרטים</h1>


<div class="card shadow">
    <div class="container">
        <div class="row row-cols-4">
            @foreach (var item in Model)
            {
                <div class="col mb-4">
                    <div class="card h-100">
                        <img class="embed-responsive-item rounded-top" src="@(item.ImageUrl)" alt="movie poster">
                        <div class="card-img-overlay hoverOverlay bg-dark text-white rounded">
                            <h2 class="card-title">
                                <a asp-action="Details" asp-route-id="@item.Id" class="card-link">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </h2>
                            <h3 class="card-subtitle text-muted">@Html.DisplayFor(modelItem => item.Genre)</h3>
                            <span class="rating"><strong>@Html.DisplayFor(modelItem => item.Rating)</strong>/10 <i class="fas fa-star rotate"></i></span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="pagination-container">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>


<p>
    <a class="btn btn-primary" asp-action="Create">צור חדש</a>
</p>


@await Component.InvokeAsync("RecommendMovie")
