@model MovieApp.Models.Soundtrack

@{
    ViewData["Title"] = "פרטים";
}

@{ string userType = @Context.User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value;}

<h1>פרטים</h1>

<div>
    <h4>פסקול</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Writer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Writer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Performer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Performer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">עריכה</a> |
    <a asp-action="Index">בחזרה לרשימה</a>
    @if (userType == Account.UserType.Admin.ToString())
    {
        <form asp-action="Delete" style="display: inline-block;">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="מחק סרט" class="btn btn-primary" />
        </form>
    }
</div>
