@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<MovieApp.Models.Soundtrack>

@{
    ViewData["Title"] = "מאגר הפסקולים";
}
<!-- CSS -->
<link type="text/css" href="~/css/soundtracksIndex.css" rel="stylesheet" asp-append-version="true">


<div class="jumbotron">
    <h1 class="display-4" dir="rtl">
        מאגר הפסקולים
        <a class="btn btn-outline-light float-left" asp-action="Create"><i class="fas fa-plus"></i></a>
        <a class="btn btn-outline-light float-left" data-toggle="modal" data-target="#filters">
            <i class="fas fa-filter"></i>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="filters" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-sm" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="Soundtracks" asp-action="Index" method="get">
                            <div class="form-group row">
                                <p class="col-sm-3">שם:</p>
                                <div class="col">
                                    <input type="text" name="nameFilter" class="form-control form-control-sm" value="@(ViewBag.CurrentNameFilter as string)" />
                                </div>
                            </div>

                            <input type="submit" value="חפש" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </h1>
</div>

<div class="card shadow">
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Writer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Performer)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Writer.FirstName)
                            @Html.DisplayFor(modelItem => item.Writer.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Performer.FirstName)
                            @Html.DisplayFor(modelItem => item.Performer.LastName)
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm fa fa-info-circle mr-3" asp-action="Details" asp-route-id="@item.Id"></a>
                            <a class="btn btn-outline-primary btn-sm fa fa-edit mr-3" asp-action="Edit" asp-route-id="@item.Id"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pagination-container">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentNameFilter = ViewBag.CurrentNameFilter }))
    </div>
</div>


<p>
    <a class="btn btn-primary" asp-action="Create">צור חדש</a>
</p>