@model IEnumerable<MovieApp.Models.Soundtrack>

@{
    ViewData["Title"] = "מאגר הפסקולים";
}
@{ string userType = @Context.User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value;}

<h1>מאגר הפסקולים</h1>

<div class="card shadow">
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Writer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Performer)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Writer.FirstName)
                            @Html.DisplayFor(modelItem => item.Writer.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Performer.FirstName)
                            @Html.DisplayFor(modelItem => item.Performer.LastName)
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm fa fa-info-circle mr-3" asp-action="Details" asp-route-id="@item.Id"></a>
                            <a class="btn btn-outline-primary btn-sm fa fa-edit mr-3" asp-action="Edit" asp-route-id="@item.Id"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<p>
    <a class="btn btn-primary" asp-action="Create">צור חדש</a>
</p>